body {
  font-family: Arial, sans-serif;
  /* background-color: #282c34; */
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  height: 200px;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: none;
}

.countdown {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.message {
  font-size: 28px;
  font-style: italic;
  color: #ffffff;
}

.new-year-message {
  font-size: 24px;
  font-weight: bold;
  color: #e7dce1;

  display: none; /* Initially hidden */
}
